<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="monoandroid60" />
  <package id="Scandit.BarcodePicker.Xamarin" version="5.8.1.10" targetFramework="monoandroid403" />
  <package id="Xamarin.Plugins.Clipboard" version="2.2.1" targetFramework="monoandroid60" />
</packages>